pipeline/refinedLayerPipeline.json
{
	"name": "refinedLayerPipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select a.file_name, a.path, b.pk from [dbo].[Ingestion_history] a join [dbo].[CNTLTBL] b on a.table_name = b.table_name where \na.layer_status = 'staged'  and b.table_name = 'EMPLOYEE'\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "IncLoadForRefineLayer",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "IncLoadForRefineLayer",
									"type": "DataFlowReference",
									"parameters": {
										"created": {
											"value": "'@{pipeline().Pipeline}'",
											"type": "Expression"
										},
										"modified": {
											"value": "'@{pipeline().Pipeline}'",
											"type": "Expression"
										},
										"Folder": {
											"value": "'@{item().path\n}'",
											"type": "Expression"
										},
										"pk": {
											"value": "'@{item().pk\n}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"source1": {
											"folder": {
												"value": "@item().path",
												"type": "Expression"
											},
											"file": {
												"value": "@item().file_name",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}